body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.video-container {
  position: relative;
  left: 0;
  top: 0;
}

.localVideo {
  width: 200px;
  float: left;
  border:1px solid orange;
  position: absolute;
  bottom: 0px;
}

.remoteVideo {
  width: 1024px;

  border:1px solid blue;
}
